# Executáveis do Windows e arquivos de build intermediários
*.exe
*.pdb
*.obj
*.ilk

# Ignorar o executável nativo do Linux gerado pelo Odin
# Substitua pelo nome exato do seu executável se for diferente do nome da pasta
NaoQueroAprenderCGame
${workspaceRootFolderName}

# Opcional: Ignorar qualquer arquivo binário gerado na raiz que não tenha extensão
# (Útil para Linux, mas cuidado se você tiver arquivos de script sem extensão)
*
!*.*
!*/